<script>
    import fetch from "node-fetch";
    import tokenStore from "../stores/token_store";
    import {get} from "svelte/store";
    import {onMount} from "svelte";
    import AuctionForm from "../components/AuctionForm.svelte"

    $: auctions = [];
    let editID;

    let error = false;
    let errorMessage;

    onMount(() => {
        fetchAuctions()
    })

    async function fetchAuctions() {
        const response = await fetch('http://localhost:3000/auction', {});
        auctions = await response.json();
        return auctions;
    }

    function getTime(auction) {
        let date = new Date(auction.endDate)
        return date.getHours() + ":" + date.getMinutes();
    }

    function deleteAuction(id) {
        fetch('http://localhost:3000/auction/' + id, {
            headers: {
                'Content-Type': 'application/json',
                "Authorization": get(tokenStore)
            },
            method: "DELETE"
        }).then(response =>
            response.json()
                .then(response => {
                    auctions = response;
                    fetchAuctions();
                })).then(response => {
            if (!response.ok) {
                error = true;
            }
            return response.json()
        })
            .then(response => {
                if (error) {
                    errorMessage = response.message;
                }
            })
    }

    function editAuction(id) {
        editID = id;
        console.log(editID)
    }

</script>

<style>

</style>

{#await fetchAuctions}
    <p>waiting...</p>
{/await}
<div class="col-md-12">
    <h1 class="h1">Administration</h1>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>End date</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {#each auctions as auction}
                <tr>
                    <td>{auction.name}</td>
                    <td>{auction.endDate} </td>
                    <td>
                        <button class="btn" on:click={()=> deleteAuction(auction.id)}>Delete</button>
                        <button class="btn" on:click={()=> editAuction(auction.id)}>Edit</button>
                    </td>
                </tr>
            {/each}
            </tbody>
        </table>
        {#if errorMessage}
            <p> {errorMessage} </p>
        {/if}
    </div>


    <div class="row">

    </div>
    <AuctionForm {editID}/>
</div>