<script>
    import fetch from "node-fetch";
    import {get} from "svelte/store";
    import tokenStore from "../stores/token_store";

    let params = (new URL(document.location)).searchParams;
    let id_auction = parseInt(params.get('id'));
    let error = false;

    let token;

    // getting the auctions
    $: auctions = [];
    $: bids = [];

    let price = undefined;
    let auction_item = getAuction();

    tokenStore.subscribe((data) => token = data);

    async function getAuction() {
        const response = await fetch('http://localhost:3000/auction')
        auctions = await response.json();
        auction_item = auctions.find(item => item.id === id_auction);
        bids = auction_item.bids;
        return auction_item;
    }

    //post a bid

    function postBid(id) {
        console.log("bovenaan");
        console.log("token in postbid: " + token)
        fetch('/bidding/' + id, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                "Authorization": token
            },
            body: JSON.stringify({
                price
            }),

        }).then(response =>
            response.json()
                .then(response => {
                    console.log("then")
                    auction_item = response
                    bids = auction_item.bids
                    getAuction();
                })).then(data => {
            console.log(data)
        }).then(response => {
            if (!response.ok) {
                error = true;
            }
            return response.json()
        })
    }

</script>

<style>
    .auction_bid {
        display: flex;
        width: 100%;
        height: 2rem;
    }

    .auction_bid_single {
        flex: 0 0 30%;
        line-height: 2rem;
    }

    .col-md-12, .col-md-6 {
        display: inline-block;
        float: left;
    }

    .form-group.form {
        display: inline-block;
    }

    .form-group.form input {
        float: left;
    }

    .form-group.form .submit-button {
        padding: 5px;
    }
</style>

<h2>Bidding page</h2>
<div class="col-md-12">
    {#await getAuction()}
        <p>... waiting</p>
    {:then auction_item}
        <div class="col-md-6">
            <p class="display-2">{auction_item.name}</p>
            <p class="p-2">{auction_item.description}</p>

            <form class="form-group form" on:submit|preventDefault={() => postBid(auction_item.id)}>
                <input class="input-group-text" type="number" placeholder="amount" required bind:value={price}>
                <input class="submit-button" type="submit" value="Bid">
            </form>
        </div>
        <div class="col-md-6">
            <p class="display-2">Bids</p>
            <ul>
                {#each bids as bid}
                    <li class="auction_bid">
                        <span class="auction_bid_single">{bid.price}</span>
                        <span class="auction_bid_single">{bid.name}</span>
                        <span class="auction_bid_single">{bid.time}</span>
                    </li>
                {/each}
            </ul>
        </div>
    {/await}
</div>