<script>
    import fetch from "node-fetch";
    import tokenStore from "../stores/token_store";
    import {goto} from '@sapper/app';

    let title_page = "Auctions";
    let auctions = [];
    let error = false;
    let errorMessage;

    fetch('http://localhost:3000/auction').then(res => res.json()
        .then(data => {
            auctions = data;
        })
        .then(response => {
            if (error) {
                errorMessage = response.message;
            }
        }))


    //filter slider
    let sliderValue = 100;

    function filterOnPrice() {
        fetch('http://localhost:3000/auction?price=' + sliderValue).then(res => res.json()
            .then(data => {
                auctions = data;
            }).then(response => {
                if (!response.ok) {
                    error = true;
                }
                return response.json()
            })
            .then(response => {
                if (error) {
                    errorMessage = response.message;
                } else {
                    tokenStore.update(oldToken => {
                        return response;
                    })
                    goto('/')
                }
            }));
    }

    // filter color
    function getAuctionColor(color) {
        fetch('http://localhost:3000/auction?color=' + color).then(res => res.json()
            .then(data => {
                auctions = data;
            }).then(response => {
                if (!response.ok) {
                    error = true;
                }
                return response.json()
            })
            .then(response => {
                if (error) {
                    errorMessage = response.message;
                } else {
                    tokenStore.update(oldToken => {
                        return response;
                    })
                    goto('/')
                }
            }));
    }

    // filter on name
    let searchValue;

    function searchItems() {
        fetch('http://localhost:3000/auction?search=' + searchValue).then(res => res.json()
            .then(data => {
                auctions = data;
            }).then(response => {
                if (!response.ok) {
                    error = true;
                }
                return response.json()
            })
            .then(response => {
                if (error) {
                    errorMessage = response.message;
                } else {
                    tokenStore.update(oldToken => {
                        return response;
                    })
                    ('/')
                }
            })
        );
    }
</script>

<style>
    .auctions {
        display: inline-block;
        float: left;
    }

    .col-md-4, .col-md-12, .auction {
        float: left;
        display: inline-block;
        color: #000000;
    }

    .auction {
        padding: 15px;
        margin-bottom: 30px;
    }

    .description_auction {
        min-height: 150px;
    }

    .color_price {
        color: #17a2b8;
    }

    .padding-left {
        padding-left: 10px;
    }

    .padding-right {
        padding-right: 10px;
    }

    .filters {
        padding: 15px;
        margin-bottom: 30px;
        float: left;
        width: 100%;
        display: inline-block;
    }

    .filters .col-md-4 {
        display: inline-block;
        float: left;
    }

    .filters .col-md-4.slider {
        padding: 7px 15px;
    }

    .padding {
        padding: 5px;
        margin-left: 55px;
    }

    .color {
        padding-top: 31px;
    }

    .btn.red {
        background-color: red;
    }

    .btn.blue {
        background-color: blue;
        color: white;
    }

    .btn.white {
        background-color: white;
    }

    .btn.yellow {
        background-color: yellow;
    }

    @media only screen and (max-width: 1200px) {
        .col-md-4 {
            width: 50% !important;
            max-width: 50% !important;
        }
    }
</style>

<svelte:head>
    <title>Sapper project template</title>
</svelte:head>

<div class="col-md-12 auctions">
    <h1 class="display-3">{title_page}</h1>
    <!--  Filters  -->
    <div class="filters border-bottom">
        <h4>Filters</h4><br>
        <div class="col-md-4 color">
            <form action="/" class="form-row" on:submit|preventDefault={() => searchItems()}>
                <input class="input-group-sm" type="text" placeholder="Search..." name="search"
                       bind:value={searchValue}>
                <button class="btn">Search</button>
            </form>
        </div>
        <div class="col-md-4 slider">
            <span class="border padding">Current value: {sliderValue}</span><br>
            <span class="padding-right">Min</span><input type="range" min="1" max="200" class="custom-range"
                                                         bind:value="{sliderValue}"><span
                class="padding-left">Max</span>
            <button class="btn" on:click={filterOnPrice}>Filter</button>
        </div>
        <div class="col-md-4 color">
            <button class="btn all" on:click={()=> getAuctionColor('')}>All</button>
            <button class="btn red" on:click={()=> getAuctionColor('red')}>Red</button>
            <button class="btn blue" on:click={()=> getAuctionColor('blue')}>Blue</button>
            <button class="btn white" on:click={()=> getAuctionColor('white')}>White</button>
            <button class="btn yellow" on:click={()=> getAuctionColor('yellow')}>Yellow</button>
        </div>
    </div>

    <!--  Auctions  -->
    {#each auctions as auction}
        <a href="bid?id={auction.id}">
            <div class="col-md-4">
                <div class="auction border">
                    <h2>{auction.name}</h2>
                    <p class="description_auction">{auction.description}</p>
                    <p class="color_price">€ {auction.bids[auction.bids.length - 1].price}</p>
                    <button class="btn">Go bid</button>
                </div>
            </div>
        </a>
    {/each}
    {#if errorMessage}
        <p> {errorMessage} </p>
    {/if}
</div>
