<script>
    import tokenStore from "../stores/token_store";
    import {get} from "svelte/store";
    import {goto} from "@sapper/app";

    let email = "";
    let password = "";
    let errorMessage;
    let error = false;

    function handleSubmit(event) {
        event.preventDefault();

        fetch('/user/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                email, password
            }),
        }).then(response => {
            error = false;
            if (!response.ok) {
                error = true;
            }
            return response.json()
        })
            .then(response => {
                if (error) {
                    errorMessage = response.message;
                } else {
                    tokenStore.update(oldToken => {
                        return response;
                    })
                    goto('/')
                }
                console.log("reached")
            })
    }


</script>
<div class="col-md-12">
    <h1 class="h1">Login page</h1>
    <form class="form-control" on:submit={handleSubmit}>
        <input class="input-group" type="text" placeholder="Email" name="email" bind:value={email}/>
        <br>
        <input class="input-group" type="password" placeholder="Password" name="password" bind:value={password}/>
        <br>
        <button class="btn">Login</button>
        {#if errorMessage}
            <p> {errorMessage} </p>
        {/if}
    </form>
    <br>
    <a class="btn-link" href="register">Register here</a>
</div>