<script>
    import fetch from "node-fetch";
    import {get} from "svelte/store";
    import tokenStore from "../stores/token_store";
    import {getTokenPayload} from "../middleware/util";

    let token = getTokenPayload();
    $: bids = [];

    async function fetchAuctions() {
        const response = await fetch('http://localhost:3000/bidding', {
            headers: {
                'Content-Type': 'application/json',
                "Authorization": get(tokenStore)
            },
        });
        return await response.json();
    }

    async function getUserBids() {
        const auctions = await fetchAuctions();

        console.log(auctions)
        let bidsNew = [];
        for (const auction of auctions) {
            for (let i = 0; i < auction.bids.length; i++) {
                let bid = auction.bids[i];
                if (bid.name === token.name) {
                    bid.bestBid = ((i + 1) === auction.bids.length ? "Yes" : "No");
                    bidsNew.push(bid);
                }
            }
        }
        bids = bidsNew;
        return bids;
    }

    function removeBid(id) {
        fetch('http://localhost:3000/bidding/' + id, {
            headers: {
                'Content-Type': 'application/json',
                "Authorization": get(tokenStore)
            },
            method: "DELETE"
        }).then(response =>
            response.json()
                .then(response => {
                    getUserBids()
                }))
    }

</script>

{#await getUserBids()}
    <p>...waiting</p>
{:then placeholder}
    <h1>My bids</h1>
    <div class="col-md-12">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Time</th>
                <th>Is best bid?</th>
                <th>Remove</th>
            </tr>
            </thead>
            <tbody>
            {#each bids as bid}
                <tr>
                    <td>{bid.name}</td>
                    <td>{bid.price}</td>
                    <td>{bid.time}</td>
                    <td>{bid.bestBid}</td>
                    <td>
                        {#if bid.bestBid === "Yes"}
                            <button on:click|preventDefault={() => {removeBid(bid.auctionID)} }></button>
                        {/if}
                    </td>
                </tr>
            {/each}
            </tbody>
        </table>
    </div>
{/await}
