<script>
    import {goto} from '@sapper/app';

    let email = "";
    let name = "";
    let password = "";
    let errorMessage;
    let error = false;

    function handleSubmit(event) {
        event.preventDefault();

        if (!validateEmail()) {
            errorMessage = "Invalid email, please try again."
        } else if (!validatePassword()) {
            errorMessage = "Password requires 6 total characters, one uppercase letter and a number."
        } else {
            fetch('/user/register', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    email, name, password
                }),
            }).then(response => {
                if (!response.ok) {
                    error = true;
                }
                return response.json()
            })
                .then(response => {
                        if (error) {
                            errorMessage = response.message;
                        }
                    }
                )
        }
        goto('/login');
    }

    function validateEmail() {
        const regEx = /\S+@\S+\.(nl$|com$)/;
        return regEx.test(email);
    }

    function validatePassword() {
        const regEx = /(?=.*\d)(?=.*[A-Z])^(?=.{6,})[a-zA-Z0-9\s\-,]+.\*?$/;
        return regEx.test(password);
    }

</script>

<h1>Register page</h1>
<form class="form-control" on:submit={handleSubmit}>
    <input class="input-group" type="email" placeholder="Email" name="email" bind:value={email}/>
    <br/>
    <input class="input-group" type="text" placeholder="Name" name="name" bind:value={name}/>
    <br/>
    <input class="input-group" type="password" placeholder="Password" name="password" bind:value={password}/>
    <br/>
    <br/>
    <button class="btn">Register</button>
    {#if errorMessage}
        <p> {errorMessage} </p>
    {/if}
</form>

