<script>
    import fetch from "node-fetch";
    import tokenStore from "../stores/token_store";
    import {get} from 'svelte/store';

    async function fetchUsers() {
        const response = await fetch('http://localhost:3000/user', {
            headers: {
                'Content-Type': 'application/json',
                "Authorization": get(tokenStore)
            },
        });
        return await response.json();
    }

</script>

<style>

</style>

{#await fetchUsers()}
    <p>... waiting</p>
{:then users}
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th class="">Name</th>
                    <th class="">E-mail</th>
                    <th class="">Is admin</th>
                </tr>
            </thead>
            <tbody>
                {#each users as user}
                    <tr>
                        <td>{user.name}</td>
                        <td>{user.email}</td>
                        <td>{user.role === "admin" ? "Yes" : "No"}</td>
                    </tr>
                {/each}
            </tbody>
        </table>
    </div>
{/await}
