<script>
    import {get} from "svelte/store";
    import tokenStore from "../stores/token_store";

    let body = {
        name: undefined,
        description: undefined,
        endDate: undefined,
        price: undefined,
        amount: undefined,
        color: undefined
    }

    export let editID;

    let requiredInput = editID ? "" : "required";

    const handleSubmit = () => {
        if (editID) {
            editAuction();
        } else {
            addAuction()
        }
    }

    function editAuction() {
        fetch('http://localhost:3000/auction/' + editID, {
            headers: {
                'Content-Type': 'application/json',
                "Authorization": get(tokenStore)
            },
            body: JSON.stringify(body),
            method: "PATCH"
        }).then(response =>
            response.json()
                .then(response => {
                }))
    }

    function addAuction() {
        fetch('http://localhost:3000/auction/', {
            headers: {
                'Content-Type': 'application/json',
                "Authorization": get(tokenStore)
            },
            body: JSON.stringify(body),
            method: "POST"
        }).then(response =>
            response.json()
                .then(response => {
                    console.log(response)
                }))
    }

</script>
<div class="col-md12">
    <div class="col-md-6">
        <form class="form-check" on:submit|preventDefault={handleSubmit}>
            <input class="input-group" type="text" placeholder="Name" bind:value={body.name}/>
            <br/>
            <input class="input-group" type="text" placeholder="Description" bind:value={body.description}/>
            <br/>
            <input class="input-group" type="text" placeholder="End date: (02-22-2021 13:00)" bind:value={body.endDate}/>
            <br/>
            <input class="input-group" type="text" placeholder="Price" bind:value={body.price}/>
            <br/>
            <input class="input-group" type="text" placeholder="Amount to start" bind:value={body.amount}/>
            <br/>
            <input class="input-group" type="text" placeholder="Color" bind:value={body.color}/>
            <br/>
            <button class="btn">{!editID ? "Add an auction" : "Edit auction"}</button>
            <br/>
            <br/>
        </form>
    </div>
</div>