<script>
    import {getTokenPayload, resetToken} from "../middleware/util";
    import tokenStore from "../stores/token_store";

    export let segment;

    let token;
    let user;

    // Observe changes of value in the store
    tokenStore.subscribe(data => {
        token = data;

        // set user equal to token payload
        if (data) {
            user = getTokenPayload(data)
        }
    })

    function logout() {
        resetToken();
        user = null;
        token = null;
    }

</script>

<style>
    nav {
        border-bottom: 1px solid rgba(255, 62, 0, 0.1);
        font-weight: 300;
        padding: 0 1em;
    }

    ul {
        margin: 0;
        padding: 0;
    }

    /* clearfix */
    ul::after {
        content: '';
        display: block;
        clear: both;
    }

    li {
        display: block;
        float: left;
    }

    [aria-current] {
        position: relative;
        display: inline-block;
    }

    [aria-current]::after {
        position: absolute;
        content: '';
        width: calc(100% - 1em);
        height: 2px;
        background-color: rgb(255, 62, 0);
        display: block;
        bottom: -1px;
    }

    a {
        text-decoration: none;
        padding: 1em 0.5em;
        display: block;
    }
</style>

<nav>
    <ul>
        <li><a aria-current="{segment === undefined ? 'page' : undefined}" href=".">auctions</a></li>

        {#if user && user.role === "admin"}
            <li><a aria-current="{segment === 'users' ? 'page' : undefined}" href="users">Users</a></li>
            <li><a aria-current="{segment === 'administration' ? 'page' : undefined}" href="administration">Administration</a></li>
        {/if}

        {#if user}
            <li><a aria-current="{segment === 'my_bids' ? 'page' : undefined}" href="MyBids">My Bids</a></li>
        {/if}

        <!-- for the blog link, we're using rel=prefetch so that Sapper prefetches
             the blog data when we hover over the link or tap it on a touchscreen -->
        {#if !user}
            <li><a rel=prefetch aria-current="{segment === 'login' ? 'page' : undefined}" href="login">login</a></li>
        {:else}
            <li><a rel=prefetch aria-current="{segment === 'logout' ? 'page' : undefined}" on:click={logout} href="login">logout</a></li>

        {/if}

    </ul>
</nav>